<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
      By <%= @question.user.first_name + " " + @question.user.last_name %>
  </p>
    <%= f.hidden_field :user_id %>
    <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <% all_categories = Category.all %>
    <% menu_items = all_categories.map { |c| [ c.name, c.id ] } %>
    <%= f.select :category_id, menu_items %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
