<div class="top-space">
</div>

<div class="container">
  <% @questions.each do |question| %>
<div class="row">
  <div class="col-sm-1 col-xs-3">
    <%= link_to(question.user) do %>
      <%= image_tag(question.user.image_url, :class => 'list-profile-image') if question.user.image? %>
    <% end %>
  </div>
  <div class="col-sm-9 col-xs-7">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <%= link_to(question.user, :class=> 'link-text') do %>
            <%= question.user.first_name + " " + question.user.last_name %> <br/>
        <% end %>
        <%= link_to(question, :class=> 'link-text') do %>
            <%= question.content %>
        <% end %>
      </div>
      <div class="col-sm-2 col-xs-12">
    <div class="category-label category-<%= question.category.name.downcase[0..2]%>">
      <%= question.category.name %>
    </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 col-xs-2">
    <%= image_tag 'crystalball.png', :retina => true%>
    <span class="metadata-text">
      <%= question.predictions.count %>
    </span>
  </div>
</div>
<hr />
<% end %>
<%= link_to 'New Question', new_question_path, :class => 'btn btn-primary' %>
</div>
<br />
