<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @question.user.image_url, :width => 50, :height => 50 if @question.user.image? %>
  <%= @question.content %>
</p>

<p>
  <b>Category:</b>
  <%= @question.category.name %>
</p>

<p>
  <% if @question.options.empty? %>
    No options for the question have been defined.
  <% else %>
    <table>
      <% @question.options.each do |o| %>
      <tr>
        <th>Option: </th>
        <td><%= o.content %></td>
        <!-- td>(<%= o.predictions.count %>)</td -->
        <td>
          <% if @question.predictions.find_by_user_id(session[:user_id]).nil? %>
              <%= link_to "Predict this!",
                          { :controller => 'predictions',
                            :action => 'create',
                            :prediction => { :option_id => o.id,
                                             :user_id => session[:user_id] } },
                          :method => 'POST' %>
          <% end %>
        </td>

      </tr>
	  <% end %>
	</table>
  <% end %> 
</p>

<%= link_to 'Add Option', :controller => 'options', :action => 'new', :question_id => @question.id %> |
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
