<div class="top-space">
</div>
<div class="container">

  <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
  <% end %>

  <div class="row">
  <div class="col-sm-1 col-xs-2">
    <%= link_to(@question.user) do %>
        <%= image_tag(@question.user.image_url, :class => 'list-profile-image') if @question.user.image? %>
    <% end %>
  </div>

  <div class="col-sm-9 col-xs-8">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <%= link_to(@question.user, :class=> 'link-text') do %>
            <%= @question.user.first_name + " " + @question.user.last_name %> <br/>
        <% end %>

        <%= link_to(@question, :class=> 'link-text') do %>
            <%= @question.content %>
        <% end %>
        <br />
        <% @question.labels.each do |label| %>
            <div class="category-label category-<%= @question.category.name.downcase[0..2]%>">
              <%= label.name %>
            </div>
        <% end %>
      </div>
      <div class="col-sm-2 col-cs-12">
        <div class="category-label category-<%= @question.category.name.downcase[0..2]%>">
          <%= @question.category.name %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-2 col-xs-2">
    <%= image_tag 'crystalball.png' %> 
    <span class="metadata-text">
      <%= @question.predictions.count %>
    </span>
  </div>

</div> <!-- End question panel -->
<hr />

<p>
  <% if @question.options.empty? %>
    No options for the question have been defined.
  <% else %>
    <% user_prediction = @question.predictions.find_by_user_id(session[:user_id]) %> <!-- can be nil -->
    <%= form_tag(predictions_path, :method => 'POST') do %>
      <%= hidden_field_tag 'prediction[user_id]', session[:user_id] %>
      <% @question.options.each do |o| %>
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <% if user_prediction %> <!-- user has made a prediction -->
              <% if user_prediction.option_id == o.id %>
                  <% if o.id == o.question.correct_option_id %>
                      <%= radio_button_tag('prediction[option_id]', o.id, true, :disabled => true, :class => 'correct-prediction')  %>
                  <% else %>
                      <%= radio_button_tag('prediction[option_id]', o.id, true, :disabled => true)  %>
                  <% end %>
              <% else %>
                  <% if o.id == o.question.correct_option_id %>
                      <%= radio_button_tag('prediction[option_id]', o.id, false, :disabled => true, :class => 'wrong-prediction')  %>
                  <% else %>
                      <%= radio_button_tag('prediction[option_id]', o.id, false, :disabled => true)  %>
                  <% end %>
              <% end %>
              <%= label_tag "prediction[option_id_" + o.id.to_s + "]", o.content %>
          <% else %>
              <%= radio_button_tag('prediction[option_id]', o.id)  %>
              <%= label_tag "prediction[option_id_" + o.id.to_s + "]", o.content %>
          <% end %>
        </div>
      </div>
        <% if user_prediction || @question.correct_option %>
        <!-- if the user has made a prediction, display the current predictions -->
        <div class='row'>
          <div class="col-sm-6 col-xs-6" style="padding-left: 50px;">
            <% percentile = o.predictions.count.to_f / o.question.predictions.count.to_f * 100 %>
            <div class="progress">
              <%= o.predictions.count %>
              <div class="progress-bar" role="progressbar" style="width: <%= percentile %>%;">
              </div>
            </div>
          </div>
        </div>
        <% end %> <!-- end of if -->
      <% end %> <!-- end of .each -->
      <% if user_prediction.nil? && ! @question.correct_option %>
      <!-- if user hasn't made a prediction display the prediction button -->
        <%= submit_tag 'Submit', :class => 'btn btn-success' %>
      <% end %>
          <% if question_creator? %>
              <%= link_to 'Edit', edit_question_path(@question), :class => 'btn btn-primary' %>
          <% end %>
<% end %> <!-- end of form -->
  <% end %> <!-- end of else -->
<br />
  <% if question_creator? %>
      <%= link_to 'Add Option', {:controller => 'options', :action => 'new', :question_id => @question.id}, :class => 'btn btn-primary' %>
  <% end %>
<%= link_to 'Back', :back, :class => 'btn btn-default' %>
</div>