<h3>Login</h3>
<div class="container">
    <% if flash[:error] %>
      <div class="alert alert-danger">
         <%= flash[:error] %>
       </div>
     <% end %>
  <%= form_tag do %>
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <%= label_tag 'Name:' %>
        </div>
        <div class="col-sm-4 col-xs-12">
          <%= text_field_tag :name, params[:name], :class => 'form-control' %>
        </div>
      </div>
      <br />
      <div class="row">
            <div class="col-sm-2 col-xs-12">
              <%= label_tag 'Password:' %>
            </div>
            <div class="col-sm-4 col-xs-12">
              <%= password_field_tag :password, params[:password], :class => 'form-control' %> </p>
            </div>
      </div>
      <br />
      <div class='row'>
        <div class="col-sm-12 col-xs-12">
          <%= submit_tag "Login", :class => 'btn btn-primary' %>
        </div>
      </div>
  <% end %>
</div>
