<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-2 col-xs-2">
      <%= image_tag @user.image_url, :class=>'profile-image' if @user.image? %>
  </div>
  <div class="col-sm-6 col-xs-4">
    <span class='user-name'><%= @user.first_name + " " + @user.last_name %></span> <br />

    <span class="metadata-text">
      Predictions: <%= @user.predictions.count %>
    </span>
    <br />
    <span class="metadata-text">
        Questions: <%= @user.questions.count %> 
    </span>
    <br /> <br />
    <%= link_to 'Edit Profile', edit_user_path(@user), :class=>"btn btn-primary btn-xs" %>
  </div>

</div>

